.website__footer-contact-subelements {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 10ms;
    margin: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.website__footer-contact-subelements:hover {
    background-color: var(--hover-color);
}

@media screen and (max-width: 1000px){
    .website__footer-contact-subelements {
        margin-top: 1rem;
    }
    .website__footer-contact-subelements h2, .website__footer-contact-subelements p {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 550px){
    .website__footer-contact-subelements p{
        display: none;
        padding-left: 0;
    }

    .website__footer-contact-subelements h2{
        text-align: center;
        padding-left: 0;
    }
}