.website__eventos-contentiner-evento {
    border: 5px solid var(--color-blm);
    border-radius: 10px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.website__eventos-contentiner-evento:hover {
    background-color: var(--hover-color);
}

.website__events-resultados {
    position: absolute;
    margin-top: 1rem;
    /* margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%; */
    border: 5px solid var(--color-blm);
    border-radius: 10px;
    padding: .5rem 1rem;
    background-color: var(--color-bg);
}

.website__events-resultados-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 1rem;
}

.website__events-resultados-person {
    padding: 1rem;
}

.website__events-resultados-person:nth-child(2n) {
    border-left: 2px solid var(--color-blm);
}

@media screen and (max-width: 1000px) {
    .website__events-resultados {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 78%;
    }
}

@media screen and (max-width: 600px) {
    .website__events-resultados-grid{
        grid-template-columns: repeat(1, 1fr);
        /* width: 50%; */
    }

    .website__events-resultados-person:nth-child(2n) {
        border: none;
    }
}